:root {
  --general-color: grey;
  --border-color: #3cc7a9;
  --span-color: rgba(240, 77, 77, 0.404);
  --h1-color: rgb(17, 17, 17);
  --btn-color: rgb(93, 182, 218);
  --btn-border-color: rgb(93, 182, 218);
   --background-color: white;
  --border-round-color: rgb(247, 239, 239);
  --footer-border-color: rgb(78, 75, 75);
  --background-footer-color: rgb(47, 47, 66);
}

* {
  margin: 0;
  padding: 0;
  color: var(--general-color);
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 1rem auto;
  max-width: 30rem;
  border: var(--border-color) solid .3rem;
  width: 100%;
  background: var(--border-color);

}

.card {
  width: inherit;
  border: var(--border-color) solid .3rem;
  border-radius: .8rem;
  background: var(--background-color);
}

.content {
  display: flex;
  padding-top: 2rem;
  gap: .5rem;
  justify-content: center;
}

.location-icon {
  border: var(--border-round-color) solid 1px;
  width: 3%;
}

.location-text {
  color: inherit;
}

.image-container,
.card {
  overflow: hidden;
}


img {
  width: 100%;
  object-fit: fill;
  display: block;
}

.wrapper,
.location-icon,
.image-container {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.wrapper,
main,
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  padding: .6rem;
  width: 55%;
  border: var(--border-round-color) solid .2rem;
  margin: auto;
  background-color: rgb(255, 249, 249);

}

.image-container {
  object-fit: contain;
  margin: auto;

}




.description {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-weight: 100;
  color: var(--h1-color);
  max-width: 26rem;
  text-align: center;
}

h1,
.description {
  filter: blur(0.5px);


}

h1 {
  color: black;
  font-size: 2.2rem;
  font-weight: 200;
}

.sam {
  color: var(--h1-color);
  font-size: .8rem;
  font-weight: 600;
}

.sam,
main,
.description {
  padding: 1rem;
}

.btn {
  margin-top: 2rem;
  width: 40%;
  font-weight: 600;
  padding: 1rem;
  border:var(--btn-border-color) solid 2px;
  border-radius: .5rem;
  background-color: var(--btn-color);
  color: var(--background-color);
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1)
}





.icons {
  display: flex;
  align-items: stretch;
  background-color: var(--background-footer-color);
  margin: auto;

}

.icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem 0;
  border: var(--footer-border-color)solid 1px;

}


.icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: .7rem;
  text-align: center;

}

.icon img {

  width: 4rem;
  margin-bottom: .5rem;


}

span {
  color:var(--background-color);
  font-size: .9rem;

}

h4 {
  color: var(--span-color);
  font-size: .8rem;

}